<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;700&display=swap" rel="stylesheet">
      <style>
        h1{
          font-family: 'Encode Sans Semi Expanded', sans-serif;
          font-size: 80px;
        }
        body{
          margin: 0;
          min-height: 100%;
        }
        html{
          min-height: 100%;
          margin: 0;
          background-image: url("https://img.freepik.com/free-photo/abstract-blur-interior-coffee-shop-cafe-background_42682-256.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .column {
          height: 100%;
          float: left;
          width: 33%;
        }

        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        .card{
          height: 40%;
          overflow: hidden;
        }

        img{
          width: 70%;
        }

        .card-1{
          background-color: rgba(54,160,226,.75);
          position: absolute; 
          height: 70%; 
          width: 28%; 
          top: 25%;
        }

        .card-2{
          background-color: rgba(54,160,226,.75);
          position: absolute; 
          height: 100%; 
          width: 39%; 
          left: 30.5%;
        }

        .card-3{
          background-color: rgba(54,160,226,.75);
          position: absolute; 
          height: 70%; 
          width: 28%; 
          top: 25%;
          left: 71%
        }

        .navbar{
          background-color: transparent;
        }
        
        .email{
          padding-left: 80%;
        }
      </style>
</head>

<body>
  <header>
   <!--%- include('../partials/nav', { email: user.email }) %-->
  </header>

  <div class="row">
    <div class="column">
      <a href="/">
        <img src="/smallTalklogo.jpg"> 
      </a>
      <div class="card-1">
      </div>
    </div>
    <div class="column">
      <div class="card-2">
        <form action="/dog-messages" method="post">
          <input class="input" type="text" name="message" placeholder="Went to the dog park today" />
          <button class="button mt-2">Post</button>
        </form>
        <br>
        <div class="card">
          <div class="feed-stream">
            <!-- include('../partials/feed-stream', { feed: feed }) -->
          </div>
        </div> 
      </div>
    </div>
    <div class="column">
      <div class="email">
        <% if(user.email) { %>
          <a href="/dashboard">
            <i class="material-icons">person_outline</i>
            <br>
            <%= user.email %>
          </a>
        <% } else if(user.hideSignIn) { %>
        <% } else { %>
          <a href="/sign-in" class="button is-primary">Sign In</a>
        <% }%>
      </div>
      <div class="card-3"></div>
    </div>
  </div>


</body>

<%- include('../partials/footer') %>

</html>