<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;700&display=swap" rel="stylesheet">
    <link href="src/views/pages/stylesheet.css" rel="stylesheet">
      <style>
        h1{
          font-family: 'Encode Sans Semi Expanded', sans-serif;
          font-size: 80px;
        }
        body{
          margin: 0;
          min-height: 100%;
        }
        html{
          min-height: 100%;
          margin: 0;
          background-image: url("https://img.freepik.com/free-photo/abstract-blur-interior-coffee-shop-cafe-background_42682-256.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  
  <img src="src/views/pages/smallTalklogo.png" alt="logo" width="400" height="400">
  <div class="columns">
    <div class="column">
      <p>test left</p>
    </div>
    <div class="column">
      <p>test right</p>
    </div>
  </div>
 

<%- include('../partials/footer') %>
</body>

</html>
