<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;700&display=swap" rel="stylesheet">
      <style>
        h1{
          font-family: 'Encode Sans Semi Expanded', sans-serif;
          font-size: 80px;
        }
        body{
          margin: 0;
          min-height: 100%;
        }
        html{
          min-height: 100%;
          margin: 0;
          background-image: url("https://img.freepik.com/free-photo/abstract-blur-interior-coffee-shop-cafe-background_42682-256.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .column {
          float: left;
          width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        img {
          width: 200px;
        }
      </style>
</head>

<body>
  <div class="row">
    <div class="column">
      <img src="static/smallTalklogo.jpg">
    </div>
    <div class="column">
      Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
      <form id="signup-form">
        <label>Email</label>
        <input id="email" type="email" name="email" />
        <label>Password</label>
        <input type="password" name="password" />
        <button>Sign Up</button>
      </form>
      <div id="login-error" style="display: none;">
      </div>
      <a href="/dashboard">Dashboard</a> 
    </div>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyBD-FEF40UFzhl4DUU94RMoVBBhW44VqGU",
      authDomain: "smalltalk-405f5.firebaseapp.com",
      projectId: "smalltalk-405f5",
      storageBucket: "smalltalk-405f5.appspot.com",
      messagingSenderId: "380091593204",
      appId: "1:380091593204:web:7f4de296a9d3d56fb889a1",
      measurementId: "G-1QFGGBKLC7"
};

// Initialize Firebase
//const app = initializeApp(firebaseConfig);

const app = firebase.initializeApp(firebaseConfig);

app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

document
  .getElementById("signup-form")
  .addEventListener("submit", (event) => {
    event.preventDefault();
    const email = event.target.email.value;
    const password = event.target.password.value;

    app.auth().createUserWithEmailAndPassword(email, password)
    .then((userCredential) => {
          // Signed in 
        const user = userCredential.user;
        user.getIdToken().then((idToken) => {
          fetch('/sessionLogin', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
              idToken: idToken,
              plan: 'free'
            })}).then(() => window.location.assign('/dashboard'))  // Redirect the user to the /dashboard
          })
        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;
        });


        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        return false;
  });
};
</script>

</html>
